body {
	font-family: $roboto;
	font-size: 14px;
	font-weight: 500;
}

.title{
	font-size: 36px;
	font-weight: 700;
	color: #263238;
	line-height: 54px;
	&_w{

	}
}
.rate-star{
	display: inline-block;
	margin: 0 13px 0 0;
}

.container-fluid{
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	@media(max-width: $md3){
		padding: 0 15px;
	}
}