body {
	font-family: $roboto;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	a {
		display: inline-block;
		font-family: $roboto;
	}
}

.title {
	font-size: 36px;
	font-weight: 700;
	color: #263238;
	line-height: 54px;
}
.rate-star {
	display: inline-block;
	margin: 0 13px 0 0;
}
.angle-right {
	position: relative;
	padding: 0 0 0 15px;
	&::before {
		content: "\f105";
		font-family: "icomoon" !important;
		font-size: 14px;
		position: absolute;
		left: 0;
		color: $green;
	}
}
.container-fluid {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	@media (max-width: $md3) {
		padding: 0 15px;
	}
}
