$mw: 1170px;
$md1: $mw;
$md2: 992.98px;
$md3: 767.98px;
$md4: 479.98px;

$green: #8bc34a;
$red: #e74c3c;
$grey: #f4f6f5;
$black: #263238;
$latosemibold: "Lato-Semibold";
$roboto: "Roboto", sans-serif;
$raleway: "Raleway", sans-serif;
$opensans: "Open Sans", sans-serif;