//partials
@import "normalize";
@import "nullstyle";
@import "vars";
@import "global";

//partials

//fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap");
@font-face {
	font-family: "Lato-Semibold";
	src: url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
	font-weight: 600;
}
//fonts

//wrapper
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
//wrapper

//container
.container {
	max-width: $mw;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 10px;
	}
}
//container
//start-header========================================================================================================================================
.header__inner {
	display: flex;
	justify-content: space-between;
	height: 90px;
	align-items: center;
}

.header__text {
	margin: 0 25px 0 auto;
	font-size: 15px;
	line-height: 24px;
	color: #546e7a;
	font-weight: 400;
	a {
		color: #e74c3c;
	}
	span a {
		color: #546e7a;
	}
}
.header__box {
	img {
		width: 20px;
		height: 20px;
	}
}
.header__btn {
	padding: 9px;
	width: 72px;
	border-radius: 4px;
	font-size: 12px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
}
.header__btn_login {
	background-color: $green;
}
.header__btn_register {
	background-color: $red;
	margin: 0 0 0 7px;
}

.header__bottom {
	background-color: #263238;
}
.menu {
	height: 60px;
	display: flex;
	align-items: center;
}
.menu__list {
	li {
		display: inline-block;
		margin: 0 30px 0 0;
		a {
			font-weight: 500;
			line-height: 30px;
			color: #fff;
		}
	}
}

//end-header========================================================================================================================================
//start-search========================================================================================================================================

.search {
	background: center no-repeat;
	background-size: cover;
	min-height: 533px;
}

.search__inner {
	padding: 155px 0 100px 0;
	text-align: center;
}
.search__inner-title {
	font-weight: 700;
	font-size: 48px;
	margin: 0 0 30px 0;
	color: #fff;
}
.search__inner-subtitle {
	font-size: 20px;
	line-height: 25px;
	margin: 0 0 50px 0;
	color: #fff;
}
.search__inner-form {
	max-width: 670px;
	margin: 0 auto;
	position: relative;
	input {
		display: block;
		border-radius: 4px;
		height: 56px;
		width: 100%;
		background-color: #ffffff;
		box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
		border: none;
		padding: 0 60px 0 25px;
		&::placeholder {
			letter-spacing: 0.05em;
			color: #90a4ae;
			font-weight: 500;
			font-family: $roboto;
		}
		&:focus {
			border: 1px solid #000;
		}
	}
	button {
		position: absolute;
		background-color: transparent;
		right: 20px;
		top: 19px;
	}
}

//end-search========================================================================================================================================
//start-products========================================================================================================================================
.products {
	padding: 120px 0 110px 0;
	background-color: $grey;
}

.products__title {
	margin: 0 0 51px 0;
	text-align: center;
}

.products__inner-btn {
	text-align: center;
	margin: 0 0 60px 0;
	color: $black;
	button {
		background-color: #fff;
		padding: 12px 21px;
		font-weight: 500;
		& + button {
			margin: 0 0 0 5px;
		}
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}
.products__inner-box {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px 0 -15px;
	justify-content: center;
}
.products__item {
	max-width: 442px;
	flex: 0 1 25%;
	margin: 0 0 30px 0;
	padding: 0 15px;
	&-img {
		min-height: 250px;
		background: center no-repeat;
		background-size: cover;
		display: block;
	}
	&-content {
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 30px;
		min-height: 90px;
		border-bottom: 1px solid #e7ecf2;
		background-color: #fff;
	}
	&-name {
		max-width: 310px;
	}
	&-title {
		font-size: 18px;
		font-weight: 500;
		color: $black;
		line-height: 30px;
		display: block;
	}
	&-category {
		line-height: 20px;
		color: $green;
		display: block;
	}
	&-price {
		font-size: 20px;
		font-weight: 700;
		color: $black;
		max-width: 70px;
	}
	&-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		padding: 10px 30px;
		background-color: #fff;
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		position: relative;
	}
	&-author {
		max-width: 245px;
		span {
			position: absolute;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			background: center no-repeat;
			background-size: cover;
			display: inline-block;
			top: 17px;
			left: 30px;
		}
		color: #546e7a;
		padding: 0 0 0 43px;
	}
	&-star {
		font-size: 12px;
		line-height: 60px;
		font-weight: 400;
		color: #b0bec5;
		span {
			color: #263238;
		}
	}
}
.products__bottom {
	margin: 45px 0 0 0;
	&-btn {
		text-align: center;

		color: $black;
		button {
			box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
			margin: 0 5px;
			padding: 20px 30px;
			background-color: #fff;
			font-size: 16px;
			font-weight: 400;
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
		}
	}
}
//=============================================================================================================================
.product-slider {
	padding: 110px 0 120px;
}

.product-slider__title {
	text-align: center;
	margin: 0 0 55px 0;
}

.slick-dots {
	text-align: center;
	li {
		display: inline-block;
		margin: 0 3px;
		&.slick-active {
			button {
				background-color: #8bc34a;
			}
		}
		button {
			border-radius: 50%;
			border: none;
			font-size: 0;
			background-color: #e8e8e8;
			width: 16px;
			height: 16px;
		}
	}
}
//================================================================================================================================================
.advantages {
	background-color: #263238;
	padding: 125px 0 120px;
}

.advantages__title {
	color: #fff;
	text-align: center;
	font-weight: 700;
	margin: 0 0 80px 0;
}

.advantages__inner {
	display: flex;
	justify-content: space-between;
}
.advantages__item {
	flex: 0 1 33%;
	max-width: 322px;
	text-align: center;
	&:hover {
		.advantages__item-image {
			background-color: $green;
			transition: all 0.5s;
			g {
				fill: #fff;
			}
			#gift-2 {
				fill: #fff;
			}
			.cls-2 {
				fill: #fff;
			}
		}
		.advantages__item-title {
			color: $green;
			transition: all 0.5s;
		}
	}
}
.advantages__item-image {
	margin: 0 auto 30px;
	width: 113px;
	height: 113px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
	}
}
.advantages__item-image_1 {
	svg {
		width: 50px;
	}
}
.advantages__item-image_2 {
	svg {
		width: 93px;
	}
}
.advantages__item-image_3 {
	svg {
		width: 86px;
	}
}

.advantages__item-title {
	margin: 0 0 25px 0;
	font-size: 24px;
	line-height: 36px;
	color: #ffffff;
}
.advantages__item-text {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #b0bec5;
}
//end advantages
//start author
.author {
	background: center no-repeat;
	background-size: cover;
	min-height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__box {
		background-color: $green;
		max-width: 653px;
		width: 100%;
		min-height: 216px;
		padding: 15px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__title {
		font-size: 30px;
		line-height: 36px;
		font-weight: 400;
		color: #ffffff;
		max-width: 265px;
		margin: 0 50px 0 0;
		span {
			font-weight: 700;
		}
	}
	&__btn {
		padding: 14px 43px;
		background-color: #fff;
		font-size: 18px;
		line-height: 36px;
		font-weight: 400;
		color: #263238;
		transition: all 0.4s;
		&:hover {
			font-size: 24px;
			font-weight: 700;
		}
	}
}
//end author
//start tutorials
.tutorials {
	padding: 65px 0 120px 0;
	&__title {
		margin: 0 0 55px 0;
		text-align: center;
	}
}
.tutorials__box {
	display: flex;
	margin: 0 -15px;
	justify-content: center;
}
.tutorials__item {
	flex: 0 1 33%;
	padding: 0 15px;
	max-width: 370px;
	&-image {
		img {
			width: 100%;
		}
	}
	&-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		background-color: #f8f8f8;
		min-height: 100px;
		padding: 10px;
	}
}

//end tutorials
