//partials
@import "normalize";
@import "nullstyle";
@import "vars";
@import "global";
@import "fonts";

//partials

//fonts

//fonts

//wrapper
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
}
//wrapper

//container
.container {
	max-width: $mw;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 10px;
	}
}
//container

//start-header========================================================================================================================================
.header__inner {
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
	@media (max-width: $md4) {
		position: relative;
	}
}

.header__text {
	margin: 0 25px 0 auto;
	font-size: 15px;
	line-height: 24px;
	color: #546e7a;
	font-weight: 400;
	a {
		color: #e74c3c;
	}
	span a {
		color: #546e7a;
	}
	@media (max-width: $md2) {
		display: none;
	}
}
.header__box {
	display: flex;
	align-items: center;
	@media (max-width: $md4) {
		position: absolute;
		left: 100%;
		transition: all 0.5s;
		background-color: #fff;
		height: 70px;
	}
}
@media (max-width: $md4) {
	.active {
		left: 7%;
		right: 0;
	}
}
.header__logo {
	@media (max-width: $md4) {
		margin: 0 0 0 50px;
	}
}

@media (max-width: $md4) {
	.header__btn-menu {
		width: 70px;
		height: 70px;
		background-color: $black;
		position: relative;
		text-align: center;
		top: 0;
		right: -10px;
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 36px;
			color: #fff;
		}
	}
}
@media (min-width: $md4) {
	.header__btn-menu {
		display: none !important;
	}
}

.header__btn {
	padding: 9px;
	width: 72px;
	border-radius: 4px;
	font-size: 12px;
	color: #ffffff;
	display: inline-block;
	text-align: center;
	margin: 0 0 0 15px;
}
.header__btn_login {
	background-color: $green;
}
#login {
	max-width: 730px;
	height: 480px;
	padding: 90px 160px 150px;
	background-color: $green;
	font-family: $roboto;
	position: relative;
	overflow: hidden;
	display: none;
	form {
		width: 400px;
	}

	.login__title {
		font-weight: 700;
		font-size: 48px;
		margin: 0px 0px 40px 0px;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
	}
	label {
		position: relative;
		display: block;
		margin: 0px 0px 8px 0px;
		&::before {
			color: #fff;
			position: absolute;
			font-size: 14px;
			font-family: "icomoon";
			top: 14px;
			left: 14px;
		}
		& + label {
			margin: 0px 0px 20px 0px;
		}
	}
	.login__label_user::before {
		content: "\f007";
	}
	.login__label_pass::before {
		content: "\f023";
	}
	input {
		width: 100%;
		height: 40px;
		background-color: #76ae36;
		padding: 0 0 0 40px;
		font-size: 14px;
		color: #fff;
		&::placeholder {
			color: #fff;
		}
	}
	.login__btn {
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
		width: 139px;
		height: 50px;
		padding: 0 20px;
		margin: 0px 7px 28px 0px;
	}
	a {
		font-size: 18px;
		color: #fff;
		font-family: $roboto;
	}

	.login__account {
		background-color: #76ae36;
		padding: 15px 0 15px 67px;
		width: 250px;
		height: 50px;
		position: relative;
		&::before {
			position: absolute;
			left: 37px;
		}
	}
}
.fancybox-button.fancybox-close-small {
	svg {
		display: none;
	}
}
.fancybox-button.fancybox-close-small::before {
	content: "\f00d";
	position: absolute;
	top: 20px;
	right: 25px;
	font-family: "icomoon";
	color: #fff;
	font-size: 18px;
}

.header__btn_register,
.header__btn_logout {
	background-color: $red;
	margin: 0 0 0 7px;
}
.header__btn_login--off {
	display: none;
}
.header__btn_logout {
	display: none;
	&.header__btn_login--on {
		display: block;
	}
}
.notification {
	span {
		background-color: #fcb322;
	}
	&:hover {
		color: #263238;
	}
}

.message__box,
.notification__box {
	.circle__item {
		position: relative;
		&::before {
			position: absolute;
			top: 18px;
			right: 30px;
			font-size: 16px;
			font-weight: 400;
			color: #b0bec5;
		}
	}
	.icons-color::before {
		color: #ef6c00;
	}
	.circle__image {
		width: 48px;
		height: 48px;
		border-radius: 50%;
	}

	.circle__info {
		position: relative;
		padding: 0 60px 0 0;

		&-name {
			font-size: 12px;
			font-weight: 700;
			font-family: $roboto;
		}
		&-theme {
			font-size: 11px;
			font-weight: 400;
			font-family: $roboto;
		}
		&-date {
			font-size: 10px;
			font-weight: 400;
			color: #707070;
			font-family: $roboto;
		}
	}
	@media (max-width: $md3) {
		display: none;
	}
}

.message {
	span {
		background-color: #ef6c00;
	}
	&:hover {
		color: #263238;
	}
}
.basket__box,
.message__box,
.notification__box {
	margin: 54px 0 0 15px;
	position: relative;
	height: 90px;

	&:hover {
		.circle__menu {
			height: auto;
			border-width: 0.5px;
		}
		.circle__item {
			padding: 20px;
		}
	}
	@media (max-width: $md4) {
		margin: 54px 0 0 4px;
	}
}

.basket {
	span {
		background-color: $green;
	}
	&:hover {
		color: #263238;
	}
	margin: 0 15px 0 0;
	@media (max-width: $md3) {
		margin: 0;
	}
}
.circle__menu {
	overflow: auto;
	height: 0;
	top: 53px;
	right: 0;
	position: absolute;
	width: 268px;
	border: 0 solid #cccccc;
	box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
	background-color: #fff;
	transition: all 0.7s;
	z-index: 5;
	@media (max-width: $md4) {
		left: 0;
	}
}
.circle__item {
	display: flex;
	padding: 0 20px;
	border-bottom: 1px solid #e0e0e0;
	transition: all 0.7s;

	& + .basket__item {
		margin: 40px 0 0 0;
	}
}
.circle__image {
	margin: 0 20px 0 0;

	img {
		height: 100%;
	}
}
.circle__info {
	max-width: 140px;
	&-name {
		font-size: 15px;
		color: #263238;
		font-family: $roboto;
	}
	&-theme {
		font-size: 12px;
		font-weight: 400;
		color: $green;
		padding: 9px 0 0 0;
		margin: 0 0 9px 0;
		font-family: $roboto;
	}
	&-price {
		font-size: 16px;
		font-family: $roboto;
	}
}

.basket__summ {
	.basket__title {
		font-family: $roboto;
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
		color: #263238;
		display: flex;
		padding: 15px 25px 0;
		justify-content: space-between;
		margin: 0 0 15px 0;
	}
	&-total {
	}
	&-price {
	}
}

.basket__btn {
	padding: 0 13px 20px;
	display: flex;
	justify-content: space-between;
	a {
		padding: 10px 15px;
		background-color: $green;
		font-size: 14px;
		font-weight: 700;
		color: #f4f6f5;
		border-radius: 5px;
		margin: 0 6px 0 0;
	}
	.basket__btn_checkout {
		background-color: $red;
	}
}

.header__circle {
	&.active {
		display: inline-block;
	}
	display: none;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #f5f5f5;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #a0a0a0;
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	span {
		position: absolute;
		width: 18px;
		height: 18px;
		text-align: center;
		display: inline-block;
		border-radius: 50%;
		top: -7px;
		right: -7px;
		font-family: $opensans;
		font-size: 11px;
		line-height: 18px;
		font-weight: 600;
		color: #ffffff;
	}
}

.user {
	display: inline-block;
	margin: 0 25px 0 20px;
	padding: 0 20px 0 0;
	position: relative;
	@media (max-width: $md4) {
		padding: 0 5px 0 0;
		margin: 0 10px 0 20px;
	}
	&::before {
		font-family: "icomoon";
		content: "\f107";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		color: #707070;
	}
	&__inner {
		display: flex;
		align-items: center;
	}
	&__image {
		margin: 0 15px 0 0;
		width: 34px;
		height: 34px;
		overflow: hidden;
		border-radius: 50%;
		@media (max-width: $md4) {
			margin: 7px 15px 0 0;
		}
	}
	&__info {
		line-height: 24px;
		@media (max-width: $md4) {
			display: none;
		}
	}
	&__name {
		color: #222222;
	}
	&__money {
		font-weight: 700;
		color: $green;
	}
}
.user__box {
	position: relative;
	height: 90px;
	margin: 40px 0 0 0;
	&:hover {
		.user__menu {
			height: auto;
			border-width: 0.2px;
			padding: 20px;
		}
	}
}
.user__menu {
	transition: all 0.5s;
	overflow: hidden;
	height: 0;
	width: 158px;
	border: 0px solid #cccccc;
	box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
	background-color: #fff;
	padding: 0 20px;
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	ul {
		li {
			a {
				margin: 9px 0;
				font-family: $roboto;
				font-size: 12px;
				line-height: 18px;
				font-weight: 400;
				color: #546e7a;
			}
		}
	}
}

.header__bottom {
	background-color: #263238;
}
.menu {
	height: 60px;
	display: flex;
	align-items: center;
	@media (max-width: $md2) {
		position: relative;
	}
	@media (max-width: $md4) {
		height: 0;
	}
}
@media (max-width: $md3) {
	.menu__burger {
		width: 30px;
		display: block;
		position: absolute;

		div {
			background-color: #fff;
			height: 3px;
			border-radius: 3px;
			@media (max-width: $md4) {
				background-color: $black;
			}
			& + div {
				margin: 5px 0px 0px 0px;
			}
		}
		@media (max-width: $md4) {
			top: -45px;
			left: -5px;
		}
	}
}
.menu__list {
	li {
		display: inline-block;
		margin: 0 30px 0 0;
		@media (max-width: $md2) {
			margin: 0px 25px 0px 0px;
		}
		a {
			font-weight: 500;
			line-height: 30px;
			color: #fff;
		}
	}
	@media (max-width: $md3) {
		display: none;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		background-color: $black;
		z-index: 5;
		text-align: center;
		widht: 100%;
		margin: 0 -10px;
		li {
			display: block;
			padding: 10px 0;
			border-top: 1px solid $green;
			margin: 0;
			&:last-child {
				border-bottom: 1px solid $green;
			}
			a {
				display: block;
				font-size: 16px;
				font-weight: 700;
			}
		}
	}
	@media (min-width: $md3) {
		display: block !important;
	}
	@media (max-width: $md4) {
		top: 0px;
	}
}
//end-header========================================================================================================================================
//start-search========================================================================================================================================

.search {
	background: center no-repeat;
	background-size: cover;
	min-height: 533px;
}
.search_small {
	min-height: 233px;
}

.search__inner {
	padding: 155px 0 100px 0;
	text-align: center;
}
.search__inner_small {
	padding: 60px 0 65px;
}
.search__inner-title {
	font-weight: 700;
	font-size: 48px;
	margin: 0 0 30px 0;
	color: #fff;
}
.search__inner-title_small {
	display: none;
	margin: 0;
	font-size: none;
	font-weight: none;
}
.search__inner-subtitle {
	font-size: 20px;
	line-height: 25px;
	margin: 0 0 50px 0;
	color: #fff;
}
.search__inner-subtitle_small {
	margin: 0px 0px 25px 0px;
}
.search__inner-form {
	max-width: 670px;
	margin: 0 auto;
	position: relative;
	input {
		display: block;
		border-radius: 4px;
		height: 56px;
		width: 100%;
		background-color: #ffffff;
		box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
		border: none;
		padding: 0 60px 0 25px;
		font-family: $roboto;
		font-size: 16px;
		&::placeholder {
			letter-spacing: 0.05em;
			color: #90a4ae;
			font-family: $roboto;
			font-size: 15px;
		}
		&:focus {
			border: 1px solid #000;
		}
	}
	button {
		position: absolute;
		background-color: transparent;
		right: 20px;
		top: 19px;
	}
}

//end-search========================================================================================================================================
//start breadcrumbs
.breadcrumbs {
	padding: 45px 0;
	background-color: #f4f6f5;
	&__inner {
	}
	&__list {
		li {
			font-size: 15px;
			font-weight: 400;
			display: inline-block;
		}
		.grey::before {
			background-color: #b0bec5;
		}
		a {
			color: #b0bec5;
			position: relative;
			padding: 0 20px 0 0;
			&::before {
				position: absolute;
				content: "";
				height: 1px;
				width: 5px;
				background-color: $green;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				margin: 0 6px 0 0;
			}
		}
		span {
			color: #263238;
		}
	}
}

//end breadcrumbs
//start-products========================================================================================================================================
.products {
	padding: 120px 0 110px 0;
	background-color: $grey;
}

.products__title {
	margin: 0 0 51px 0;
	text-align: center;
}

.products__inner-btn {
	text-align: center;
	margin: 0 0 60px 0;
	color: $black;
	button {
		background-color: #fff;
		padding: 12px 21px;
		font-weight: 500;
		& + button {
			margin: 0 0 0 5px;
		}
		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}
.products__inner-box {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px 0 -15px;
	justify-content: center;
}
.products__item {
	max-width: 442px;
	flex: 0 1 25%;
	margin: 0 0 30px 0;
	padding: 0 15px;
	&-img {
		min-height: 250px;
		background: center no-repeat;
		background-size: cover;
		display: block;
	}
	&-content {
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 30px;
		min-height: 90px;
		border-bottom: 1px solid #e7ecf2;
		background-color: #fff;
	}
	&-name {
		max-width: 310px;
	}
	&-title {
		font-size: 18px;
		font-weight: 500;
		color: $black;
		line-height: 30px;
		display: block;
	}
	&-category {
		line-height: 20px;
		color: $green;
		display: block;
	}
	&-price {
		font-size: 20px;
		font-weight: 700;
		color: $black;
		max-width: 70px;
	}
	&-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 70px;
		padding: 10px 30px;
		background-color: #fff;
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		position: relative;
	}
	&-author {
		max-width: 245px;
		span {
			position: absolute;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			background: center no-repeat;
			background-size: cover;
			display: inline-block;
			top: 17px;
			left: 30px;
		}
		color: #546e7a;
		padding: 0 0 0 43px;
	}
	&-star {
		font-size: 12px;
		line-height: 60px;
		font-weight: 400;
		color: #b0bec5;
		span {
			color: #263238;
		}
	}
}
.products__bottom {
	margin: 45px 0 0 0;
	&-btn {
		text-align: center;

		color: $black;
		button {
			box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
			margin: 0 5px;
			padding: 20px 30px;
			background-color: #fff;
			font-size: 16px;
			font-weight: 400;
			&.mixitup-control-active {
				background-color: $red;
				color: #fff;
			}
		}
	}
}
//end products=============================================================================================================================
.product-slider {
	padding: 110px 0 120px;
}

.product-slider__title {
	text-align: center;
	margin: 0 0 55px 0;
}

.slick-dots {
	text-align: center;
	li {
		display: inline-block;
		margin: 0 3px;
		&.slick-active {
			button {
				background-color: #8bc34a;
			}
		}
		button {
			border-radius: 50%;
			border: none;
			font-size: 0;
			background-color: #e8e8e8;
			width: 16px;
			height: 16px;
		}
	}
}
//end product-slider================================================================================================================================================
//start advantages================================================================================================================================================
.advantages {
	background-color: #263238;
	padding: 125px 0 120px;
}

.advantages__title {
	color: #fff;
	text-align: center;
	font-weight: 700;
	margin: 0 0 80px 0;
}

.advantages__inner {
	display: flex;
	justify-content: space-between;
}
.advantages__item {
	flex: 0 1 33%;
	max-width: 322px;
	text-align: center;
	&:hover {
		.advantages__item-image {
			background-color: $green;
			transition: all 0.5s;
			g {
				fill: #fff;
			}
			#gift-2 {
				fill: #fff;
			}
			.cls-2 {
				fill: #fff;
			}
		}
		.advantages__item-title {
			color: $green;
			transition: all 0.5s;
		}
	}
}
.advantages__item-image {
	margin: 0 auto 30px;
	width: 113px;
	height: 113px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.advantages__item-image_1 {
	svg {
		width: 50px;
	}
}
.advantages__item-image_2 {
	svg {
		width: 93px;
	}
}
.advantages__item-image_3 {
	svg {
		width: 86px;
	}
}

.advantages__item-title {
	margin: 0 0 25px 0;
	font-size: 24px;
	line-height: 36px;
	color: #ffffff;
}
.advantages__item-text {
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #b0bec5;
}
//end advantages========================================================================================================================
//start author==========================================================================================================================
.author {
	background: center no-repeat;
	background-size: cover;
	min-height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	&__box {
		background-color: $green;
		max-width: 653px;
		width: 100%;
		min-height: 216px;
		padding: 15px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__title {
		font-size: 30px;
		line-height: 36px;
		font-weight: 400;
		color: #ffffff;
		max-width: 265px;
		margin: 0 50px 0 0;
		span {
			font-weight: 700;
		}
	}
	&__btn {
		padding: 14px 43px;
		background-color: #fff;
		font-size: 18px;
		line-height: 36px;
		font-weight: 400;
		color: #263238;
		transition: all 0.4s;
		&:hover {
			font-size: 24px;
			font-weight: 700;
		}
	}
}
//end author==========================================================================================================================
//start tutorials==========================================================================================================================
.tutorials {
	padding: 65px 0 120px 0;
	&__title {
		margin: 0 0 55px 0;
		text-align: center;
	}
}
.tutorials__box {
	display: flex;
	margin: 0 -15px;
	justify-content: center;
}
.tutorials__item {
	flex: 0 1 33%;
	padding: 0 15px;
	max-width: 370px;
	&-image {
		img {
			width: 100%;
		}
	}
	&-title {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		background-color: #f8f8f8;
		min-height: 100px;
		padding: 10px;
	}
}

//end tutorials==========================================================================================================================
//start footer==========================================================================================================================
.footer {
	background-color: #263238;
}

.footer__top {
	padding: 116px 0 100px 0;
	@media (max-width: $md1) {
		padding: 30px 0;
	}
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	.footer__about {
		max-width: 270px;
		@media (max-width: $md1) {
			min-width: 100%;
			margin: 0 0 10px 0;
			border-bottom: 1px solid $green;
			padding: 0 0 10px 0;
		}
	}
	.footer__menu {
		max-width: 220px;
	}
	.footer__follow {
		max-width: 260px;
		@media (max-width: $md2) {
			min-width: 100%;
			padding: 10px 0 0 0;
			border-top: 1px solid $green;
		}
	}
	@media (max-width: $md1) {
		flex-wrap: wrap;
	}
}
.footer__item {
	flex: 0 1 25%;
}
.footer__title {
	font-family: $raleway;
	font-size: 22px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	margin: 0 0 32px 0;
	padding: 0 0 30px 0;
	position: relative;
	&::before {
		content: "";
		height: 3px;
		width: 51px;
		background-color: $green;
		position: absolute;
		bottom: 0;
		left: 2px;
	}
	@media (max-width: $md1) {
		margin: 0 0 15px 0;
		padding: 0 0 15px 0;
		font-size: 20px;
	}
}

.footer__text {
	line-height: 24px;
	font-weight: 400;
	color: #b7c3c8;
	margin: 0 0 35px 0;
	@media (max-width: $md1) {
		margin: 0 0 15px 0;
	}
}
.footer__info {
	font-family: $latosemibold;
	line-height: 24px;
	font-weight: 600;
	color: #ffffff;
	.footer__map {
		margin: 0 0 20px 0;
		position: relative;
		padding: 0 0 0 30px;
		&::before {
			font-family: "icomoon" !important;
			content: "\f041";
			color: $green;
			position: absolute;
			left: 0;
			font-size: 18px;
			font-weight: 400;
		}
	}
	.footer__tele {
		font-family: $latosemibold;
		line-height: 24px;
		color: #ffffff;
		padding: 0 0 0 30px;
		display: inline-block;
		position: relative;
		&::before {
			font-family: "icomoon" !important;
			content: "\f095";
			color: $green;
			position: absolute;
			left: 0;
			font-size: 18px;
			font-weight: 400;
		}
	}
}

.footer__menu {
	max-width: 220px;
	@media (max-width: $md2) {
		flex: 1 1 50%;
		max-width: 50%;
	}
	& + .footer__menu {
		@media (max-width: $md3) {
			border-top: 1px solid $green;
			padding: 10px 0 0 0;
		}
	}
	@media (max-width: $md3) {
		min-width: 100%;
	}
	.footer__list {
		font-size: 15px;
		line-height: 22px;
		font-weight: 400;
		font-family: $roboto;
		li {
			margin: 0 0 17px 0;
			a {
				color: #b7c3c8;
			}
		}
	}
}

.footer__follow {
	.footer__social {
		margin: 0 0 40px 0;
		@media (max-width: $md3) {
			margin: 0 0 20px 0;
		}
		li {
			display: inline-block;
			& + li {
				margin: 0 0 0 5px;
			}
			a {
				display: inline-block;
				width: 28px;
				height: 28px;
				background: url(../images/footer/css_sprites.png);
			}
		}
		.social_1 {
			background-position: -56px -0;
		}
		.social_2 {
			background-position: -28px -28px;
		}
		.social_3 {
			background-position: -0 -28px;
		}
		.social_5 {
			background-position: -28px -0;
		}
	}
}

.footer__form {
	position: relative;
	max-width: 400px;
	&-title {
		font-size: 20px;
		line-height: 26px;
		font-weight: 400;
		color: #ffffff;
		margin: 0 0 20px 0;
	}
	input {
		display: block;
		width: 100%;
		height: 40px;
		color: rgb(196, 196, 196);
		background-color: #2f3c43;
		font-size: 14px;
		font-weight: 400;
		padding: 0 60px 0 13px;
		&:focus {
			border: 1px solid rgb(124, 124, 124);
		}
		&::placeholder {
			color: #697378;
		}
	}
	button {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: $green;
		height: 40px;
		width: 43px;
		&::before {
			content: "\f124";
			font-family: "icomoon";
			color: #fff;
			position: absolute;
			font-size: 20px;
			top: 11px;
			left: 13px;
		}
	}
}
.footer__bottom {
	border-top: 1px solid #424d53;
	padding: 27px 0 32px 0;
	@media (max-width: $md3) {
		padding: 20px 0;
	}
}
.footer__copy {
	text-align: center;
	font-size: 15px;
	line-height: 36px;
	font-weight: 400;
	color: #919699;
}
//end footer==========================================================================================================================
//start product-one
.product-one {
	padding: 0 0 100px 0;
	background-color: #f4f6f5;
}

.product-one__inner {
	display: flex;
}
.product-one__content {
	margin: 0px 30px 0px 0px;
	max-width: 870px;
	flex: 0 1 77%;
}
.product-one__images {
	width: 100%;
	max-width: 829px;
	height: 422px;
	background: center no-repeat;
	background-size: cover;
	background-image: url(../images/content/product_one_image.jpg);

	&-inner {
		background-color: #fff;
		border: 0.2px solid #d7d7d7;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 16px 0;
		margin: 0px 0px 30px 0px;
	}
}
.product-one__title {
	font-size: 30px;
	color: $black;
	line-height: 40px;
	margin: 0px 0px 20px 0px;
}
.product-one__text {
	font-size: 16px;
	color: #707070;
	margin: 0px 0px 45px 0px;
}
.product-one__box {
	display: flex;
	margin: 0px 0px 55px 0px;
	justify-content: space-between;
}
.product-one__link {
	display: inline-block;
	.link-red {
		background-color: $red;
	}
	.link-grey {
		background-color: #455a64;
	}
	.link-green {
		background-color: $green;
	}
	a {
		font-size: 14px;
		color: #f4f6f5;
		max-width: 158px;
		font-weight: 400;
		height: 50px;
		padding: 17px;
		text-align: center;
		& + a {
			margin: 0px 0px 0px 18px;
		}
	}
}
.product-one__social {
	a {
		width: 54px;
		height: 50px;
		position: relative;
		& + a {
			margin: 0px 0px 0px 3px;
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			transform: translate(-50%, -50%);
		}
	}
	.icon-facebook {
		background-color: #6370b6;
	}
	.icon-twitter {
		background-color: #64b5f6;
	}
	.icon-linkedin {
		background-color: #4f71ce;
	}
	.icon-pinterest-p {
		background-color: #d32f2f;
	}
}
.product-one__tabs {
	.tabs {
		display: flex;
		text-align: center;
		border: 1px solid #d7d7d7;
		.tab {
			width: 100%;
			background-color: #fff;
			font-size: 16px;
			color: #70838d;
			padding: 20px 0;
			cursor: pointer;
			& + .tab {
				border-left: 1px solid #d7d7d7;
			}
		}
		.tab.active {
			color: #263238;
		}
	}
	.tab_content {
		background-color: #fff;
		border: 1px solid #d7d7d7;
		border-top: none;
		padding: 30px 30px 50px;
	}
	.tab-item {
		display: none;
		&:first-child {
			display: block;
		}
		&__list {
			font-size: 16px;
			line-height: 26px;
			font-weight: 400;
			color: #707070;
			column-count: 2;
			li {
				& + li {
					margin: 10px 0px 0px 0px;
				}
			}
		}
	}
}
.product-one__more {
	margin: 55px 0 0;
	&-title {
		font-size: 18px;
		color: #263238;
		margin: 0px 0px 28px 0px;
		background-color: #fff;
		padding: 21px 28px;
		border: 1px solid #d7d7d7;
	}
	&-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&-item {
		max-width: 270px;
		flex: 0 1 33%;
		display: flex;
		border-bottom: 1px solid #e0e0e0;
		margin: 0px 0px 28px 0px;
	}
	.more-item__image {
	}
	img {
	}
	.more-item__info {
		background-color: #fff;
		width: 100%;
		color: #263238;
		padding: 19px 0 9px 19px;
	}
	.more-item__name {
		margin: 0px 0px 9px 0px;
	}
	.more-item__theme {
		font-size: 12px;
		font-weight: 400;
		color: $green;
		margin: 0px 0px 9px 0px;
	}
	.more-item__price {
		font-size: 18px;
		font-weight: 700;
	}
}

.product-one__aside {
	max-width: 270px;
	flex: 0 1 23%;
	.aside__item {
		background-color: #fff;
		width: 100%;
		border: 1px solid #d7d7d7;
		margin: 0px 0px 30px 0px;
		padding: 30px;
	}
	.aside__title {
		font-size: 20px;
		font-weight: 700;
		color: #263238;
		padding: 0 0 25px 0;
		border-bottom: 1px solid #dde3e8;
	}
}
.aside-price__box {
	display: flex;
	justify-content: space-between;
	padding: 30px 0 0;
	margin: 0px 0px 30px 0px;
}
.aside-price__product {
	font-size: 22px;
	color: $red;
}
.aside-price {
	font-family: $roboto;
	.icon-shopping-cart {
		background-color: #8bc34a;
	}
	.icon-heart-o {
		background-color: #42a5f5;
	}
	button {
		background-color: #546e7a;
		box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
		text-align: center;
		color: #ffffff;
		display: block;
		font-size: 16px;
		font-weight: 700;
		width: 100%;
		padding: 17px 0;
		font-family: $roboto;
		&::before {
			padding: 0 8px 0 0;
			font-weight: 400;
			font-family: "icomoon";
		}
		& + button {
			margin: 8px 0px 0px 0px;
		}
	}
}
.aside-author__box {
	padding: 25px 0 0;
	display: flex;
	margin: 0px 0px 25px 0px;
}
.aside-author__avatar {
	margin: 0px 16px 0px 0px;
}
.aside-author__info {
}
.aside-author__name {
	margin: 0px 0px 12px 0px;
	font-size: 18px;
	font-weight: 400;
	color: #263238;
}
.aside-author__link {
	font-size: 13px;
	font-weight: 400;
	color: #707070;
	border: 1px solid #ccc;
	padding: 9px;
}
.aside-author__awards-list {
	li {
		display: inline-block;
		width: 34px;
		height: 37px;
		position: relative;
		text-align: center;
		& + li {
			margin: 0px 0px 0px 4px;
		}
		&::before {
			position: absolute;
			font-size: 20px;
			font-weight: 400;
			color: #ffffff;

			top: 6px;
			left: 0;
			right: 0;
		}
	}
	.icon-meh-o {
		background-image: url(../images/product-one/aside_author_award_1.png);
	}
	.icon-pagelines {
		background-image: url(../images/product-one/aside_author_award_2.png);
	}
	.icon-bolt {
		background-image: url(../images/product-one/aside_author_award_3.png);
	}
	.icon-foursquare {
		background-image: url(../images/product-one/aside_author_award_4.png);
	}
	.icon-cny {
		background-image: url(../images/product-one/aside_author_award_5.png);
	}
}
.aside__item.sales {
	padding: 25px;
	.aside-sales {
		font-size: 16px;
		font-weight: 300;
		color: #707070;
		font-family: $roboto;
		display: inline-block;
		height: 22px;
		display: flex;
		align-items: center;
		span {
			font-size: 20px;
			font-weight: 700;
			color: #263238;
			margin: 0px 10px 0px 0px;
		}
		&::before {
			font-family: "icomoon";
			font-size: 20px;
			font-weight: 400;
			color: #a6b5bb;
			margin: 0px 20px 0px 0px;
		}
	}
}
.aside-information__box {
	padding: 25px 0 0;
}
.aside-information__line {
	font-family: $roboto;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #70838d;
	span {
		font-family: $roboto;
		line-height: 20px;
		font-weight: 500;
		color: #263238;
		margin: 0px 4px 0px 0px;
	}
	& + .aside-information__line {
		margin: 17px 0px 0px 0px;
	}
}
//end product-one
//start page-404
.page-404__wrapper,
.about__wrapper,
.contact__wrapper {
	border: 1px solid #dcdcdc;
	background-color: #fff;
}
.page-404__head,
.about__head,
.contact__head {
	font-size: 24px;
	color: #444;
	padding: 23px 27px;
	border-bottom: 1px solid #dcdcdc;
	font-weight: 600;
}
.page-404 {
	padding: 0px 0px 150px 0px;
	background-color: #f4f6f5;

	&__inner {
		text-align: center;
		background-color: $green;
		color: #fff;
		padding: 90px 0;
	}

	&__404 {
		font-weight: 800;
		font-family: $opensans;
		font-size: 300px;
		position: relative;
		line-height: 250px;
		margin: 0px 0px 15px 0px;
		&::after {
			content: "";
			position: absolute;
			background-image: url(../images/page-404/page-404-image.png);
			width: 152px;
			height: 292px;
			margin: 0px 0px 0px 15px;
		}
	}
	&__title {
		font-weight: 300;
		margin: 0px 0px 30px 0px;
		font-size: 30px;
		font-family: $opensans;
		letter-spacing: 0.2em;
	}
	&__text {
		max-width: 501px;
		font-size: 18px;
		margin: 0px auto 60px;
		font-family: $raleway;
		line-height: 24px;
	}
	&__link {
		font-family: $raleway;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		padding: 20px 30px 16px;
		border: 1px solid #fff;
		color: #fff;
		border-radius: 4px;
	}
}

//end page-404
//start about
.about {
	padding: 0px 0px 150px 0px;
	background-color: #f4f6f5;
	&__inner {
		background-color: #fff;
		padding: 40px 50px 50px;
	}
	.about__box + .about__box {
		margin: 55px 0px 0px 0px;
	}
	h3 {
		font-weight: 700;
		font-size: 20px;
		color: #444;
		margin: 0px 0px 21px 0px;
	}
	p {
		max-width: 1050px;
		font-weight: 400;
		font-size: 15px;
		color: #707070;
		line-height: 24px;
	}
}
//end about
//start contact
.contact {
	padding: 0px 0px 150px 0px;
	background-color: #f4f6f5;
}
.contact__wrapper {
}
.contact__head {
	padding: 23px 40px;
}
.contact__inner {
	padding: 35px 40px 15px;
}
.contact__map {
	margin: 0px 0px 50px 0px;

	iframe {
		width: 100%;
		min-height: 415px;
	}
}
.contact__box {
	display: flex;
	justify-content: space-between;
}
.contact__info {
	flex: 0 1 50%;
	max-width: 270px;
}
.contact__info-item {
	padding: 0 0 0 40px;
	position: relative;
	& + .contact__info-item {
		margin: 25px 0px 0px 0px;
	}
	&::before {
		position: absolute;
		font-size: 24px;
		line-height: 24px;
		font-weight: 400;
		color: #8bc34a;
		left: 0;
	}
}
.contact__info-title {
	font-family: $roboto;
	font-size: 20px;
	line-height: 24px;
	color: #263238;
	font-weight: 600;
	padding: 0 0 20px;
	position: relative;
	margin: 0px 0px 21px 0px;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 44px;
		height: 4px;
		background-color: #8bc34a;
	}
}
.contact__info-content {
	font-family: $roboto;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #707070;
}
.contact__form {
	.contact__form-title {
		font-size: 24px;
		color: #333;
		margin: 0px 0px 23px 0px;
		font-weight: 600;
	}
	form {
	}
	.contact__form-row {
		display: flex;
	}
	input {
		flex: 0 1 50%;
		font-size: 15px;
		font-weight: 400;
		color: #7a7a7a;
		width: 351px;
		height: 43px;
		background-color: #f1f4f5;
		padding: 0 20px;
		margin: 0px 0px 28px 0px;
		&:focus {
			border: 1px solid #7a7a7a;
		}
		& + input {
			margin: 0px 0px 0px 25px;
		}
		&::placeholder {
			color: #7a7a7a;
			font-size: 15px;
			font-weight: 400;
		}
	}
	textarea {
		font-family: $roboto;
		padding: 18px 16px;
		font-size: 15px;
		line-height: 24px;
		color: #7a7a7a;
		background-color: #f1f4f5;
		width: 100%;
		min-height: 193px;
		margin: 0px 0px 22px 0px;
		resize: none;
		&::placeholder {
			color: #7a7a7a;
		}
		&:focus {
			border: 1px solid #7a7a7a;
		}
	}
	button {
		font-family: $roboto;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		max-width: 190px;
		height: 54px;
		background-color: #8bc34a;
		padding: 0 30px;
	}
}

//end contact
//start settings

//end settings
